body {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center; /* Center both horizontally and vertically */
  min-height: 100vh; /* Ensure full height */
  background-color: #353935; /* Onyx for Background */
  font-family: "Protest Revolution", sans-serif;
  color: #469192;
}

.container {
  display: flex;
  text-align: center; /* Center content inside container */
  justify-content: center;
  align-items: center;
}

/* Game grid styling */
.grid-user,
.grid-computer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 300px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  border: 2px solid #000;
  margin-bottom: 20px;
  align-content: center;
  margin-top: 20px; 
  margin-left: 50px; /* Margin to center grid */
}

.grid-user {
  background-color: #023020; /* Dark Green for user grid */
}

.grid-computer {
  background-color:#301934; /* Dark Purple for computer grid */
}

.grid-user div,
.grid-computer div {
  border: 1px solid #000;
}

/* Game info display styling */
#info {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Game setup buttons styling */
#setup-buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #919246; /* Army Green for Buttons */
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: "Protest Revolution", sans-serif;
}

button:hover {
  background-color: #45a049;
}

/* Game turn display styling */
#whose-go {
  font-size: 24px;
  margin-top: 10px;
}

/* Game over message styling */
#info.GameOver {
  font-size: 24px;
  font-weight: bold;
  color: red;
}

/* Ship styling */
.destroyer,
.submarine,
.cruiser,
.battleship,
.carrier {
  background-color: #666; /* Dark gray color for ships */
}

/* Horizontal ship styling */
.destroyer.horizontal,
.submarine.horizontal,
.cruiser.horizontal,
.battleship.horizontal,
.carrier.horizontal {
  width: 20px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
}

/* Vertical ship styling */
.destroyer.vertical,
.submarine.vertical,
.cruiser.vertical,
.battleship.vertical,
.carrier.vertical {
  width: 40px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
}

/* Hit styling */
.hit {
  background-color: #ff0000; /* Red color for hit ships */
}

/* Miss styling */
.miss {
  background-color: #ccc; /* Light gray color for missed shots */
}

/* Fired styling */
.fired {
  pointer-events: none; /* Disable pointer events for fired squares */
}

/* Hide CPU ships visually but keep them interactable */
.grid-computer .destroyer,
.grid-computer .submarine,
.grid-computer .cruiser,
.grid-computer .battleship,
.grid-computer .carrier {
  background-color: transparent; /* Set ships' color to transparent */
}

/* Show red color for hit squares */
.grid-computer .hit {
  background-color: #ff0000; /* Red color for hit squares */
}
